<a href="https://colab.research.google.com/github/kdolfo/PythonPandas/blob/main/SM1_segunda_feira_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

## Indexando

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

primes = [2, 3, 5, 7]

planets[0]

'Mercury'

In [ ]:
print('\n', primes[-2], ' and ', planets[-3])

 5  and  Saturn

## Alterando listas

In [ ]:
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

In [ ]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars',]
print(planets)

['Mur', 'Vee', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

## Fun√ß√µes de Lista

In [ ]:
#pega o maior n√∫mero#
max(primes)

7

In [ ]:
#soma a lista#
sum(primes)

17

In [ ]:
#organiza alfabeticamente#
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [ ]:
#verifica o tamanho da lista#
len(planets)

8

## M√©todos de Lista

In [ ]:
#adiciona item √† lista#
planets.append('Pluto')
planets

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [ ]:
#retira e retorna o √∫ltimo elemento da lista#
planets.pop()

'Pluto'

In [ ]:
#como saber onde um item est√° na ordem dos planetas#
planets.index('Earth')

2

In [ ]:
#testando com operadores l√≥gicos#
#basta usar 'Earth' in planets o print foi pra aparecer#
print('Earth' in planets)
print('Pluto' in planets)

True
False

## Tuplas

In [ ]:
#As tuplas s√£o quase id√™nticas √†s listas diferindo em duas coisas:
#1- S√£o declaradas com par√™nteses ao inv√©s de chaves
#2- S√£o imut√°veis, n√£o podendo ser modificadas
t = (1, 2, 3)
t

(1, 2, 3)

In [ ]:
#d√° erro quando se tenta alterar.
print(t[0])
t[0] = 22

1

TypeError: 'tuple' object does not support item assignment

## Loops e Lists Comprehensions

In [ ]:
for planet in planets:
    print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
multiplicandos = (2 ,2 ,2 ,3 ,3 ,5)
produto  = 1
for multiplicados in multiplicandos:
    produto = produto * multiplicados
produto

360

In [ ]:
st = 'Hugo hoje Est√° estudando Literatura, Linguas e Outras mat√©rias'
msg =''

for char in st:
     if char.isupper():
          print(char, end='')

HELLO

## range()

In [ ]:
for i in range(5):
    print("Trabalho importante. i = ", i)

Trabalho importante. i =  0
Trabalho importante. i =  1
Trabalho importante. i =  2
Trabalho importante. i =  3
Trabalho importante. i =  4

##Loop while

In [ ]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

## List comprehensions

In [ ]:
quadrados = [n**2 for n in range(10)]
quadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
planetas_pequenos = [planet for planet in planets if len(planet) < 6]
planetas_pequenos

['Venus', 'Earth', 'Mars']

In [ ]:
planetas_pequenos_barulhentos = [planet.upper() + '!' for planet in planets if len(planet) < 6]
planetas_pequenos_barulhentos

['VENUS!', 'EARTH!', 'MARS!']

## Strings e Dicion√°rios

In [ ]:
# Com Strings pode se utilizar 'aspas simples' ou "aspas duplas" que tem o mesmo valor para python
x = 'Plut√£o √© um planeta'
y = "Plut√£o √© um planeta"
x == y

True

In [ ]:
#Caso seja necess√°rio utilizar uma aspas duplas tem que utilizar um "escape" \' para n√£o dar erro
'Pluto\'s a planet!'

"Pluto's a planet!"

<iframe src="https://www.kaggle.com/embed/colinmorris/strings-and-dictionaries?cellIds=11&kernelSessionId=126670481" height="300" style="margin: 0 auto; width: 100%; max-width: 950px;" frameborder="0" scrolling="auto" title="Strings and Dictionaries"></iframe>

[Caracteres de escape](https://www.kaggle.com/code/colinmorris/strings-and-dictionaries?cellIds=11&kernelSessionId=126670481)



```
#entrada    sa√≠da     
#   \'    |	 '
#   \"    |	 "   
#   \\    |	 \
#   \n    | nova linha
```

In [ ]:
hello = "hello\nworld"
print(hello)

hello
world

In [ ]:
#Permite a configura√ß√£o somente atrav√©s do enter ao inv√©s de usar o /n
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [ ]:
# A fun√ß√£o print() adiciona uma linha automaticamente ao n√£o ser que seja especificado uma novo argumento. o padr√£o √© '\n'
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')

hello
world
hellopluto

### Strings s√£o sequ√™ncias

In [ ]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [ ]:
# Slicing
planet[-3:]

'uto'

In [ ]:
# Qual o tamanho dessa string?
len(planet)

5

In [ ]:
# Podemos at√© mesmo fazer um loop nas strings
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [ ]:
#Strings diferem de listas por serem imut√°veis
planet[0] = 'B'
# planet.append tamb√©m n√£o funciona

TypeError: 'str' object does not support item assignment

### M√©todos de Strings

In [ ]:
# Todas mai√∫sculas
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [ ]:
# todas min√∫sculas
claim.lower()

'pluto is a planet!'

In [ ]:
# Procurando pelo primeiro indice de uma substring
claim.index('plan')

11

In [ ]:
claim.startswith(planet)

True

In [ ]:
# false because of missing exclamation mark
claim.endswith('planet!')

True

### Indo entre strings e listas: .split() e .join()

In [ ]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [ ]:
#Voc√™ pode querer separar algo mais do qu√™ espa√ßos, pode atribuir vari√°veis
datestr = '1956-01-31'
year, month, day = datestr.split('-')

In [ ]:
'/'.join([month, day, year])

'01/31/1956'

In [ ]:
# Sim, podemos colocar caracteres unicode nas nossas strings :)
' üëè '.join([word.upper() for word in words])

'PLUTO üëè IS üëè A üëè PLANET!'

### Construindo strings com .format()

In [ ]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [ ]:
#Se quisermos colocar algum objeto que n√£o seja string deveremos chamar str() antes
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [ ]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [ ]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [ ]:
# Referring to format() arguments by index, starting from 0
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

### Dicion√°rios

In [ ]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['one']

1

In [ ]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [ ]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [ ]:
'Saturn' in planet_to_initial

True

In [ ]:
'Betelgeuse' in planet_to_initial

False

In [ ]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [ ]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [ ]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /)
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None